<template>
  <div class="file-selection">
  <label for="fileInput" class="button">เลือกแฟ้มข้อมูล</label>
  <input v-on:change="readLocations" type="file" id="fileInput">
  เลือกแฟ้มประวัติที่นำออก (take out) จาก Google เพื่อประมวลผล 
  <small>
    (<a href="https://takeout.google.com" target="_blank">โหลดข้อมูลประวัติของคุณได้ที่ Google Takeout</a>)
  </small>
  <br>
  <small>
    ขนาดแฟ้มข้อมูล: {{ size | bytes }} (อ่านแล้ว {{ loaded | percent(2) }}%) | 
    ประมวลผลตำแหน่งจากแฟ้มแล้ว: 
    <span v-if="status != ''">
      {{ readLocationCount }} ตำแหน่ง 
      <span v-if="status == 'done'">(ครบแล้ว)</span>
    </span>
    <span v-else>
      ยังไม่เริ่มประมวลผล
    </span>
  </small>
</div>
</template>

<script>
import Vue2Filters from 'vue2-filters'

const FILTER_PERIOD = 60;    // in days

export default {
  name: 'FiltLoader',
  mixins: [Vue2Filters.mixin],
  data() {
    return {
      loaded: 0,
      locations: [],
      size: 0,
      readLocationCount: 0,
      status: '',
    };
  },
  methods: {
    readLocations: function (event) {
      const startTimestamp = Date.now() - (FILTER_PERIOD*24*60*60*1000);
      var reader = new FileReader();
      reader.onload = () => {
        this.loaded = 100;

        const worker = new Worker('../utils/parser.worker.js', { type: 'module' });
        worker.onmessage = (event) => {
          this.status = event.data.status;
          this.readLocationCount = event.data.readLocationCount;
          if(event.data.status == 'done') {
            this.locations = event.data.savedLocations;
            this.$emit('location-loaded', this.locations);
          }
        };
        worker.postMessage({
          jsonStr: reader.result,
          afterTimestamp: startTimestamp,
        });
      };
      reader.onprogress = (e) => {
        this.loaded = e.loaded * 100 / this.size;
      };
      reader.readAsText(event.target.files[0]);

      this.size = event.target.files[0].size;
      this.loaded = 0;
      this.status = '';
      this.readLocationCount = 0;
    },
  },
}
</script>

<style scoped>
#fileInput {
  display: none;
}
</style>