<template>
  <div class="location-filter-app container">
    <h2>Google Location History Filter</h2>
    <div class="row">
      <div class="column">
        <blockquote>  
          การประมวลผลทั้งหมดทำที่เครื่องผู้ใช้ ไม่มีการส่งข้อมูลไปที่อื่น
        </blockquote>
        <file-loader
          v-on:location-loaded="onLocationLoaded"
        ></file-loader>
      </div>
    </div>
    <location-filter
      :locations="locations"
    ></location-filter>
  </div>
</template>

<script>
import LocationFilter from './LocationFilter.vue'
import FileLoader from './FileLoader.vue'

export default {
  name: 'LocationFilterApp',
  components: {
    LocationFilter,
    FileLoader,
  },
  data() {
    return {
      locations: [],
    };
  },
  methods: {
    onLocationLoaded: function(locations) {
      this.locations = locations;
    },
  },
}
</script>

<style scoped>
</style>