<template>
  <div class="location-filter">
    <div class="row">
      <div class="column">
        ตำแหน่งทั้งหมดจากแฟ้มข้อมูล: {{ locations.length }} ตำแหน่ง (ภายในระยะเวลาไม่เกิน 60 วันจากวันนี้)<br> 
      </div>
    </div>
    <div class="row">
      <div class="column"> 
        <label for="startDatepickerId">วันที่เริ่ม</label>
        <datepicker id="startDatepickerId" class="datepicker" v-model="startDate"></datepicker> 
      </div>
      <div class="column">
        <label for="endDatepickerId">วันสุดท้าย</label>
        <datepicker id="endDatepickerId" class="datepicker" v-model="endDate"></datepicker>        
      </div>
      <div class="column">
        <button v-on:click="filterLocations">กรองข้อมูล</button>&nbsp;
        <a 
          :disabled="!downloadable" 
          v-on:click="downloadJSON" 
          class="button"
          download="location-history-filtered.json"
        >ดาวน์โหลด JSON</a>
      </div>
    </div>
    <div class="row">
      <div class="column column-33">
        ข้อมูลตำแหน่งที่กรองแล้ว {{ filteredLocations.length }} ตำแหน่ง แสดงการกระจายตามวันที่ตามตารางด้านล่าง
        <table>
          <thead>
            <tr>
              <th>วันที่</th>
              <th>จำนวนตำแหน่ง</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(count, date) in locationStats" v-bind:key="date">
              <td>{{ date }}</td>
              <td>{{ count }}</td>
            </tr>
            <tr v-if="Object.keys(locationStats).length == 0">
              <td>ไม่มีข้อมูลในขอบเขต</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column column-67">
        <div style="height: 400px;" ref="map">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import LocationUtils from '../utils/LocationUtils';

export default {
  name: 'LocationFilter',
  props: ['locations'],
  data() {
    return {
      startDate: new Date(),
      endDate: new Date(),
      locationStats: {},
      filteredLocations: [],
      downloadable: false,
      map: null,
      mapShapes: [],
    };
  },
  components: {
    Datepicker,
  },
  methods: {
    initFilterdLocations: function () {
      this.filteredLocations = [];
      this.locationStats = {};
    },
    computeLocationStats: function () {
      this.locationStats = {};
      const formatter = new Intl.DateTimeFormat('en-US');

      this.filteredLocations.forEach(loc => {
        const date = new Date(parseInt(loc.timestampMs));
        const locDate = formatter.format(date);
        if(locDate in this.locationStats) {
          this.locationStats[locDate] += 1;
        } else {
          this.locationStats[locDate] = 1;
        }
      });
    },
    filterLocations: function () {
      const startTimestamp = this.startDate.getTime();
      const endTimestamp = this.endDate.getTime() + 24*60*60*1000 - 1;

      this.filteredLocations = [];
      this.locations.forEach(loc => {
        const ts = parseInt(loc.timestampMs);
        if((ts >= startTimestamp) &&
           (ts <= endTimestamp)) {
          this.filteredLocations.push(loc);
        }
      });
      this.updateMapLocations();
      this.computeLocationStats();
      if(Object.keys(this.locationStats) != 0) {
        this.downloadable = true;
      }
    },
    downloadJSON: function(event) {
      var locObj = {
        locations: this.filteredLocations,
      };
      var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(locObj, null, 1)); 
      event.currentTarget.href = dataStr;
      return true;
    },
    removeCurrentMapShapes: function() {
      this.mapShapes.forEach(shape => {
        shape.setMap(null);
        shape = null;
      });
      this.mapShapes = [];
    },
    fitMap: function(bounds) {
      const center = bounds.getCenter();

      bounds.extend(new google.maps.LatLng(center.lat() - 0.005, center.lng() - 0.005)); // eslint-disable-line
      bounds.extend(new google.maps.LatLng(center.lat() + 0.005, center.lng() + 0.005)); // eslint-disable-line

      this.map.fitBounds(bounds);
      this.map.setCenter(center);
    },
    updateMapLocations: function() {
      this.removeCurrentMapShapes();
      
      const displayLocations = LocationUtils.filterDisplayLocations(this.filteredLocations);
      
      var bounds = new google.maps.LatLngBounds();  // eslint-disable-line

      displayLocations.forEach(loc => {
        const lat = loc.latitudeE7 / 10000000;
        const lng = loc.longitudeE7 / 10000000;
        var locCircle = new google.maps.Circle({  // eslint-disable-line
          strokeColor: '#0000FF',
          strokeOpacity: 0.2,
          strokeWeight: 1,
          fillColor: '#0000FF',
          fillOpacity: 0.1,
          map: this.map,
          center: {lat: lat, lng: lng},
          radius: 500,
        });
        this.mapShapes.push(locCircle);

        bounds.extend(new google.maps.LatLng(lat, lng));   // eslint-disable-line
      });

      if(displayLocations.length != 0) {
        this.fitMap(bounds);
      }
    },
  },
  watch: {
    locations: function () {
      this.initFilterdLocations();
    },
  },
  mounted() {
    this.map = new google.maps.Map(this.$refs.map, {   // eslint-disable-line
      center: {lat: 13.846, lng: 100.568},
      zoom: 10,
    });
  },
}
</script>

<style scoped>
.location-filter {
  margin-top: 10px;
  border-top: 1px solid lightgray;
}
</style>